<footer>
    <div class="container">
            <div class="elemento">
                    <p>Visitanos en<br>
                        C/Gibraltar,14 (37008) Salamanca 923121425 </p>
            </div>
            <div class="elemento">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.995730088021!2d-5.668973884587444!3d40.95967237930571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3f266aa06ac2c5%3A0xa91b736389ab09fd!2sCasa%20Lis%20(Museo%20de%20Art%20D%C3%A9co%20y%20Art%20Nouveau)!5e0!3m2!1ses!2ses!4v1676647008135!5m2!1ses!2ses"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            <div class="elemento">
                    <p>Visit our Social Networks:</p>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" width="30px" height="30px">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png" width="30px" height="30px">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" width="30px" height="30px">
                </div>
            </div>
</footer>
