$principal: #0D3B66;
$principal_lg: #446594;
$principal_dk: #00163B;

$secondary: #82205C;
$secondary_lg: #B45189;
$secondary_dk: #520032;

$text: #FFFFFF;
$backgroundComponents: #DCDCDC;
$textComponents: #232323;