@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Faster+One&family=Zeyada&display=swap');

$h1: 'Babylonica';
$h2: 'Amiri';
$footer: 'Zeyada';
$menu: 'Babylonica';
$content: 'Amiri';