<body>
    <div class="videoPresentacion">
        <video controls>
            <source
                src="../../assets/Un paseo por la Casa Lis.mp4"
                type="video/mp4">
            <source
                src="../../assets/Un paseo por la Casa Lis (video-converter.com).webm"
                tyep="video/webm">
                <p>You cannot see the video, error.</p>
            <track label="Español" kind="subtitles" srclang="es" src="../../assets/Un paseo por la Casa Lis. Español.vtt" />
            <track label="English" kind="subtitles" srclang="en" src="../../assets/Un paseo por la Casa Lis. Ingles.vtt" />
        </video>
    </div>
    <h2><u>The Lis house</u></h2>
    <p>Casa Lis is an urban palace nestled on the old city wall, ordered to be built by D. Miguel de Lis (1855-1909). The person in charge of carrying out this project was Joaquín de Vargas y Aguirre (1857-1935), a native of Jerez de la Frontera, who landed in Salamanca to occupy the position of provincial architect. Don Miguel de Lis owned a tanning factory that he had inherited from his father de él and which he adapted to the new production systems in the last decade of the 19th century. This prosperous business provided him with a comfortable economic position, so that D. Miguel is, at the time he builds his new urban palace, one of the hundred largest taxpayers in Salamanca. Defined as a person skilled in business and a tireless worker, his "modern" character de él can be appreciated in the conception of his new home de él.</p>

</body>